 /* BURGER MENU */
  /* NAVIGATION MENU START */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /*    justify-content: space-between;*/
    justify-content: space-around;
    min-height: 8vh;
    /*background-color: dimgrey*/
  }
  
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
    text-decoration: none;
    padding-left: 2rem;
    font-size: 1.2rem;
    z-index: 10;
  }
  
  .nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    z-index: 10;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
  }
  
  .burger {
    display: none;
  }
  
  @media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
  }
  
  @media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
  
    .nav-links {
        /* position: absolute; */
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 13vh;
        /*background-color: dimgrey;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30%;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
        z-index: 10;
    }
  
    .nav-links li {
        opacity: 0;
    }
  
    .burger {
        display: block;
        cursor: pointer;
    }
  }
  
  .nav-active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    z-index: 10;
  }
  
  @-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
  
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
  }
  
  @keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }
  
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* NAVIGATION MENU END */